@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Gabarito:wght@400;700;800;900&family=IBM+Plex+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,500&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  z-index: 1000; /* Garante que o loading esteja acima de outros elementos */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3); /* Cor da borda do spinner */
  border-top: 4px solid #ff0000; /* Cor da borda do topo do spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#conteudo {
  display: none; /* Esconde o conteúdo até que a página esteja totalmente carregada */
  padding: 20px;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #373737;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.headerContainer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}

#input-nome {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}

#btn-salvar {
  padding: 10px 20px;
  background-color: #ffb002;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

#nome-usuario {
  color: #ffb002;
  font-size: 1.5em;
  font-family: "roboto";
}

.bemVindo {
  text-align: center;
  margin-left: 1rem;
}

.gasto h1 {
  font-size: 15px;
}

button {
  background-color: #373737;
  border: none;
}

.btnAdd {
  width: 30px;
  margin-top: 3px;
}

#tabela-produtos {
  border-radius: 4px;
  width: 24rem;
  margin-left: 16px;
  color: white;
}

#lista-produtos {
  background-color: #ffb002;
  list-style: none;
  display: flex;
  flex-direction: column;
  display: inline;
  word-wrap: break-word;
  font-size: 18px;
  border-radius: 20px;
}

.excluir-edit,
.editar-edit {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-family: "roboto";
}

#total {
  background-color: #ff0000;
  width: 40vw;
  height: 10vh;
  border-radius: 6px;
  display: flex;
  color: white;
  padding-left: 35px;
  align-items: center;
  font-family: "roboto";
  font-style: oblique;
  margin-left: 125px;
}
#total p {
  display: flex;
  flex-direction: column;
 align-items: center;
  color: white;
  font-family: "roboto";
  font-style: oblique;
}
#total span {
  display: flex;
  font-size: 29px;
  color: white;
  font-family: "roboto";
  font-style: oblique;
}

.footerContainer {
  margin-top: 10px;
  width: 90%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  margin-left: 1rem;
  color: white;
}

.footerContainer img {
  margin-left: 115px;
}

.footerContainer p {
  font-size: 15px;
}

#carrinho {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}

#carrinho input {
  border: none;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  background-color: #ffb002;
  color: white;
  font-weight: bold;
}

#total {
  margin-top: 20px;
  font-size: 18px;
}

.produto {
  background-color: #ffb002;
  border-radius: 10px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.produto input {
  background-color: #ffb002;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 43px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 60px;
}
